{% extends "base.html" %}


{% block content %}

<div class="container">
  <div style="margin:0 auto; max-width:300px;">
    <h3 class="text-center" style="font-weight:700;margin-bottom:20px;">About OpenSRS</h3>
    <p style="font-size:1.2em;">&nbsp;&nbsp;&nbsp;&nbsp; Welcome to OpenSRS. The purpose of this site is to give everyone easy, cross platform, and free forever access to spaced repetition software so they can spend less time studying and more time having fun.
    </br></br>Enjoy,</br>OpenSRS Team
    </p>

    <div style="text-align:center;margin-top:40px;">
    <img style="max-width:100%;" src="http://d2uev8xooqypcg.cloudfront.net/why.jpg" alt="">
    </div>
  </div>
</div>

{% endblock %}