{% extends "base.html" %}

{% block head %}
<style>
th, h3 {
	font-weight:700;
}

.csv {
  padding-left:10px;
}
.csv:hover {
  background:#f2f2f2;
}

.rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
{% endblock %}



{% block content %}
<div class="container">
  <section class="col-md-6 col-md-offset-1">
    <h3 class="text-center">My Decks</h3>
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Deck</th>
        <th>Mastery</th>
        <th>Cards</th>
        <th style="text-align:center;">
          <div class="btn-group">
            <a href="#" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a onclick="newDeck()" href="javascript:void(0);"><span class="glyphicon glyphicon-plus ex"></span><span class="hide-deck"> Create New Deck</span></a></li>
              <li class="divider"></li>
              <li onclick="bulkUpload()" data-placement="bottom" data-toggle="tooltip" title="Columns: [ question | answer | deck ]"><a href="javascript:void(0);"><span class="glyphicon glyphicon-open"></span> Upload CSV</a></li>
              <li><a href="{% url "decks" %}?csv_down=yes"><span class="glyphicon glyphicon-save"></span> Download CSV</a></li>
              <li class="divider"></li>
              <!-- <li><a href="{% url "decks" %}"><span class="glyphicon glyphicon-play"></span> Study All Decks</a></li> --!>
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in query_set %}	
      <tr>
        <td>{{item.name}}</td>
        <td>0%</td>
        <td>{{ item.card_set.count }}</td>
        <td style="text-align:center;">
          <p class="btn-group">
          <a href="{% url 'card_review' id=item.id %}" class="btn btn-default btn-sm btn-edges" style="border-radius:3px !important;"><i style="color:black;" class="glyphicon glyphicon-eye-open"></i></a>
          <a href="{% url 'edit_cards' id=item.id %}" class="btn btn-warning btn-sm btn-edges" style="border-radius:3px !important;"><i class="glyphicon glyphicon-pencil"></i></a>
          </p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </section>
  <section class="col-md-4" style="text-align:center;">
  <h3 class="text-center">Sponsors</h3>
    <img src="https://s3.amazonaws.com/leavenet/test/moose.jpg" alt="" style="box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);">


  </section>
</div>
{% endblock %}


{% block scripts %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "cards/bulkUpload.js" %}"></script>
<script>

function newDeck() {
  if (pressed == false){
    var trNode = document.createElement("tr")
    var tdNode1 = document.createElement("td")
    var tdNode2 = document.createElement("td")
    var tdNode3 = document.createElement("td")
    var tdNode4 = document.createElement("td")

    var form = document.createElement("form")
    form.setAttribute("action",'/decks_template')
    form.setAttribute("method",'post')
    var input = document.createElement("input")
    input.setAttribute("class", 'form-control')
    input.setAttribute("name",'deckname')
    input.setAttribute("required","")
    var button = document.createElement("button")
    button.setAttribute("type",'submit')
    button.setAttribute("class",'btn btn-warning btn-sm')
    button.setAttribute("onclick", "formSubmit()")
    button.innerHTML = "Save"
    tdNode2.innerHTML= "0%"
    tdNode3.innerHTML= "0"
    tdNode4.setAttribute("style","text-align:center;")
    trNode.setAttribute("class", "rem")

    trNode.appendChild(tdNode1)
    tdNode1.appendChild(form)
    form.appendChild(input)
    trNode.appendChild(tdNode2)
    trNode.appendChild(tdNode3)
    trNode.appendChild(tdNode4)
    tdNode4.appendChild(button)

    document.querySelector("tbody").appendChild(trNode)
    pressed = true
    $(".hide-deck").html(" Hide New Deck")
    $(".ex").addClass("rotate")
  } else {
    $(".rem").remove()
    $(".ex").removeClass("rotate")
    $(".hide-deck").html(" Create New Deck")
    pressed = false
  }
}



var pressed = false

function formSubmit() {
    document.querySelector("form").submit()
}


</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}

